body {
	background: grey;
	color: white;
	font-family: Arial, sans-serif, Helvetica;
}

h1 {
	background: black;
}

h2 {
	background: white;
	color: black;
}

h3 {
	background: black;
}

p {
	background: black;
}
