body {
	background: azure;
	color: black;
	font-family: Arial, sans-serif, Helvetica;
}

h1 {
	background: cornflowerblue;
}

h2 {
	background: lightblue;
	color: black;
}

h3 {
	background: paleturquoise;
}

p {
	background: white;
}
